.rodape{
    background: #4a5a5a;
    display: flex;
    height: 5em;
    justify-content: center;
    margin-top: 18.90em;
    width: 100%;
}

.rodape__titulo{
    color: #c9c9c9;
    font-size: 1.2em;
    padding: 1em;
}